name: PHP Code Quality

on:
  workflow_call:
    inputs:
      php-version:
        required: false
        default: '8.4'
        type: string

jobs:
  phpcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          tools: composer
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Install PHPCS globally
        run: |
          composer global require \
            squizlabs/php_codesniffer \
            slevomat/coding-standard

      - name: Resolve PHPCS ruleset
        id: phpcs_ruleset
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)
          CUSTOM_RULESET="properties/phpcs/${REPO_NAME}.xml"
          DEFAULT_RULESET="properties/phpcs/default.xml"

          if [ -f "$CUSTOM_RULESET" ]; then
            echo "Using custom PHPCS ruleset: $CUSTOM_RULESET"
            echo "ruleset=$CUSTOM_RULESET" >> $GITHUB_OUTPUT
          else
            echo "Custom ruleset not found. Falling back to default: $DEFAULT_RULESET"
            echo "ruleset=$DEFAULT_RULESET" >> $GITHUB_OUTPUT
          fi

      - name: Run PHPCS
        run: |
          ~/.composer/vendor/bin/phpcs \
            --standard=${{ steps.phpcs_ruleset.outputs.ruleset }} \
            app/
