name: PHP Code Quality

on:
  workflow_call:
    inputs:
      php-version:
        required: false
        default: '8.4'
        type: string

jobs:
  phpcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          tools: composer
          coverage: none

      - name: check conditions
        run: |
          pwd
          ls -la

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Allow PHPCS Composer plugin
        run: |
          composer global config \
            allow-plugins.dealerdirect/phpcodesniffer-composer-installer true

      - name: Install PHPCS globally
        run: |
          composer global require \
            squizlabs/php_codesniffer \
            slevomat/coding-standard

      - name: Resolve PHPCS ruleset
        id: phpcs_ruleset
        run: |
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)
          CUSTOM_RULESET="properties/phpcs/${REPO_NAME}.xml"
          DEFAULT_RULESET="properties/phpcs/default.xml"

          if [ -f "$CUSTOM_RULESET" ]; then
            RULESET_PATH=$(realpath "$CUSTOM_RULESET")
            echo "Using custom PHPCS ruleset: $RULESET_PATH"
          else
            RULESET_PATH=$(realpath "$DEFAULT_RULESET")
            echo "Using default PHPCS ruleset: $RULESET_PATH"
          fi

          echo "ruleset=$RULESET_PATH" >> $GITHUB_OUTPUT


      - name: Run PHPCS
        run: |
          phpcs \
            --standard=${{ steps.phpcs_ruleset.outputs.ruleset }} \
            app/
