name: PHP Code Quality

on:
  workflow_call:
    inputs:
      php-version:
        required: false
        default: '8.4'
        type: string
env:
  phpcs_properties_file: .code-quality/phpcs/phpcs.xml

jobs:
  phpcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.php-version }}
          tools: composer
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Allow PHPCS Composer plugin
        run: |
          composer global config \
            allow-plugins.dealerdirect/phpcodesniffer-composer-installer true

      - name: Install PHPCS globally
        run: |
          composer global require \
            squizlabs/php_codesniffer:^4.0 \
            slevomat/coding-standard:^8.0

      - name: Validate PHPCS ruleset exists
        run: |
          RULESET="$phpcs_properties_file"

          if [ ! -f "$RULESET" ]; then
            echo "::error file=$RULESET::PHPCS ruleset not found. Every project must define $phpcs_properties_file"
            exit 1
          fi

          echo "PHPCS ruleset found at $RULESET"

      - name: Run PHPCS
        run: |
          phpcs \
            --standard=$phpcs_properties_file \
            app/
